<header>
  <h1 align="center">
    <a href="{{{repositoryHomepage}}}">{{{packageName}}}</a>
  </h1>
  <div align="center">
    <a href="https://www.npmjs.com/package/{{{packageName}}}">
      <img
        alt="Npm Version"
        src="https://img.shields.io/npm/v/{{{packageName}}}.svg"
      />
    </a>
    <a href="https://www.npmjs.com/package/{{{packageName}}}">
      <img
        alt="Npm Download"
        src="https://img.shields.io/npm/dm/{{{packageName}}}.svg"
      />
    </a>
    <a href="https://www.npmjs.com/package/{{{packageName}}}">
      <img
        alt="Npm License"
        src="https://img.shields.io/npm/l/{{{packageName}}}.svg"
      />
    </a>
    <a href="#install">
      <img
        alt="Module Formats: cjs, esm"
        src="https://img.shields.io/badge/module_formats-cjs%2C%20esm-green.svg"
      />
    </a>
    <a href="https://github.com/nodejs/node">
      <img
        alt="Node.js Version"
        src="https://img.shields.io/node/v/{{{packageName}}}"
      />
    </a>
    <a href="https://github.com/yozorajs/yozora/blob/main/packages/core-tokenizer#readme">
      <img
        alt="Yozora Version"
        src="https://img.shields.io/npm/dependency-version/{{{packageName}}}/@yozora/core-tokenizer"
      />
    </a>
    <a href="https://github.com/prettier/prettier">
      <img
        alt="Code Style: prettier"
        src="https://img.shields.io/badge/code_style-prettier-ff69b4.svg?style=flat-square"
      />
    </a>
  </div>
</header>
<br/>


See [{{{packageName}}} documentation](https://yozora.guanghechen.com/docs/package/{{{packageName}}}) for details.

{{{packageUsage}}}

## Install

* npm

  ```bash
  npm install --save {{{packageName}}} @yozora/core-tokenizer @yozora/character
  ```

* yarn

  ```bash
  yarn add {{{packageName}}} @yozora/core-tokenizer @yozora/character
  ```

## Usage


## Related


[homepage]: {{{repositoryHomepage}}}
